---
import shoe_1 from "../../asset/shoe1.webp";
---

<section class="heroSec">
  <img class="shoe_1" src={shoe_1.src} alt="" loading="lazy" />
  <h3 class="shoeName"></h3>
</section>

<style>
  .heroSec {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(255, 254, 252);
  }

  .shoe_1 {
    position: absolute;
    width: 550px;
    height: 520px;
    left: 30%;
    top: -5%;
    opacity: 0;
    z-index: 100;
  }

  .heroSec .shoeName {
    position: absolute;
    left: 7%;
    top: 10%;
    font-size: 500px;
    color: gray;
    opacity: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { TextPlugin } from "gsap/TextPlugin";
  window.onload = function () {
    gsap.registerPlugin(ScrollTrigger);
    gsap.registerPlugin(TextPlugin);

    ScrollTrigger.create({
      trigger: ".heroSec",
      start: "top top",
      pin: true,
      pinSpacing: false,
    });

    gsap.to(".shoe_1", {
      duration: 1.5,
      ease: "power1",
      y:150,
      opacity: 1,
      delay: 1.7,
    });

    gsap.to(".shoeName", {
      duration: 1.5,
      opacity: 1,
      ease: "power1",
      text: "NIKE",
    });
  };
</script>
